@import "variable.styl"

html, body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color $color-background-dark

*, *::before, *::after
  box-sizing border-box

.svg-icon
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
